<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}

      <title>/dylan</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
    <div class="container">
      <br>
      
      <div class = "text-center">
      
        <h1>CST Final Project</h1>

      </div>

      <div>

        <!-- in templates/template.html --> 
        <h1>CST205 Chapters</h1>

        <!-- Looping Images List -->
        {% for i in imgList %}
        <div class="card">
        <div>
          <!-- Link -->
          <a href="{{ url_for('info', pid=i['id']) }}">
          {{i.sub}}
          </a>
        </div>
        <div>
              <img
          src="/static/images/{{ i.id }}.jpg" width="250" height="250"
          class="img-fluid rounded"
          alt="{{ home }}"
          >
        </div>

      </div>
      <br>
      <br>
        {% endfor %}
      </div>

    </div>
  {% endblock %}
</body>

</html>