<!doctype html>
<!--
  Johnny Huynh, Dylan I
  CST205
  Abstract: Template HTML-This is the html home blog page
  4/16/21
  Divided Work:
  Dylan helped create the home template
  -->
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Load Bootstrap -->
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}

      <title>/dylan</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <!-- Big Jumbotron -->
  <div class="jumbotron vertical-center">
    <div class="container">
      <br>
      
      <div class = "text-center">
      
        <h1>CST Final Project</h1>

      </div>

      <div>

        <!-- in templates/template.html --> 
        <h1>CST205 Chapters</h1>

        <!-- Looping Images List -->
        {% for i in imgList %}
          <div class="card">
          <div>
            <!-- Link -->
            Week {{i.week}} :
            <a href="{{ url_for('details', pid=i['id']) }}">
            {{i.subject}}
            </a>
          </div>

          <!-- Image -->
          <div>
            <img
            src="/static/images/{{ i.id }}.jpg" width="250" height="250"
            class="img-fluid rounded"
            alt="{{ home }}"
            >
          </div>
          <div>
            <!-- Description of class -->
            {{i.description}}
          </div>

          </div>
        <br>
        <br>
        {% endfor %}
        </div>

    </div>
  {% endblock %}
</div>
</body>

</html>